@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {

    font-size: 62.5%;
}

@font-face {
    font-family: 'digital-7';
    src: url(digital-7.ttf);
}

#container {
    display: flex;
    justify-content: center;
}

#body-calculate {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #e1e1e1;
    border-radius: 1rem;

    width: 33.4rem;
    height: 54.4rem;

    box-shadow: 0rem 0rem 1rem black;
}

#display {
    display: flex;
    flex-direction: column;

    width: 31rem;
    height: 11rem;

    font-family: 'digital-7';
    background: #d9dccf;
    border: 0.6rem solid black;
    border-radius: 1rem;

    margin-top: 1rem;
}

#area_display_details {
    width: 28rem;
    display: flex;
    justify-content: space-between;    
}

#display_calc {
    position: relative;
    right: -26.7rem;
    top: 4.3rem;
}

#hours, #date, #display_calc {
    font-size: 2.3rem;
}

#hours {
    margin-left: 1rem;
}

#display_calc {
    font-size: 4.9rem;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 1rem;

    width: 29rem;
}

#fist {
    display: flex;
    flex-direction: row;
}

#aside {
    display: flex;
    width: 23.9rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}



#shape_button01,
#shape_button02,
#shape_button03,
#shape_button04,
#shape_button05,
#shape_button06,
#shape_button07,
#shape_button08,
#shape_button09,
#shape_button10,
#shape_button11,
#shape_button12,
#shape_button13,
#shape_button14,
#shape_button15,
#shape_button16,
#shape_button17,
#shape_button18,
#shape_button19,
#shape_button20 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 4rem;

    color: #fff;
    background-color: black;

    margin-right: 1rem;
    margin-bottom: 1rem;

}

#others_buttons {
    display: flex;
    flex-wrap: wrap;
    width: 23.5rem;
    position: relative;
    top: -15rem;
    right: 0.4rem;
}










